.show-container {
  max-width: 1000px;
}

.show-container .container-title {
  display: flex;
  justify-content: space-between;

  h1 {
    font-weight: bold;
    font-size: 30px;
  }

  h3 {
    font-size: 20px;
  }
}

.show-container img {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  height: 400px;
  width: 600px;

}
.show-container .container-img {
  display: flex;
  justify-content: space-between;
}

.show-container #map {
  display: flex;
  border-radius: 10px;
  margin-left: 30px;
  box-shadow: 0 5px 7px rgba(0,0,0,0.2);
}

.show-container .container-details {
  padding-top: 20px;


  .card-text {
    display:flex;
    justify-content:flex-start;
    align-items:left;
  }


  .card-btn {
    display: flex;
    flex-direction: column;
    border: rgb(231, 231, 231) 2px solid;
    background-color: rgb(245, 242, 242);
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 5px 7px rgba(0,0,0,0.2);;
  }

}

.show-container .container-review {
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.star-blue {
  color: #0011ff;
}

.review {
  margin-bottom: 1rem;
}
.show-container .btn {
  padding: 4px 15px;
  background-color: rgb(214, 239, 244);
  color: rgb(0, 123, 123);
  border-radius: 2px;
  box-shadow: 2px 2px 2px rgba(147, 147, 147, 0.3);
  transition: 0.2s ease;
  &:hover {
    color: rgb(0, 71, 71);
    background-color: rgb(190, 217, 222);
  }
}

.reviewheader {
  margin-top: 10px;
}
