<div class="container py-5 d-flex">
  <div class="bg-white rounded p-3 shadow">
    <h3>Request Booking:</h3>
    <%= simple_form_for [@pool, @booking] do |f| %>
      <%= f.input :start_time %>
      <%= f.input :end_time %>
      <%= f.submit class: 'btn btn-flat' %>
    <% end %>
  </div>
</div>
