<div class="row g-0">
  <% @pools.each do |pool| %>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <%= link_to pool_path(@pool) do %>
        <div class="card-pool">
          <img src="https://housing.com/news/wp-content/uploads/2023/03/10-Vastu-based-swimming-pool-ideas-for-home-construction-09.png" />
          <div class="card-pool-infos">
            <div>
              <h2><%= pool.title %></h2>
              <p><%= pool.description %></p>
            </div>
            <h2 class="card-pool-pricing"><%= pool.price %></h2>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
