<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<div class="d-grid gap-2 d-md-block">
  <%= link_to "Browse all pools", pools_path, class: "btn btn-primary" %>
  <%= link_to "List a pool", new_pool_path, class: "btn btn-success" %>
</div>
