.navbar-lewagon {
  justify-content: center;
  background: #d7eef4;
  height: 80px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
}

.search_bar_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-color {
  color: rgb(162, 162, 162);
  text-decoration: none;
}
