.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

.navbar-lewagon .gradient-div {
  background-color: #269e9e;
}

.searchdiv {
  width: 240px;
  height: 40px;
  border: 1px solid #afaeae;
  border-radius: 25px;
  background-color: whitesmoke;
  color: rgb(186, 210, 216);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
